*
{
    font-family: sans-serif;
    margin: 0%; 
    overflow-x: hidden;
}

body
{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#navigation
{
    display: flex;
    gap: 1%;
    background-color: #073D4F;
    padding: 18px;
    position: fixed;
    width: 100%;
}
    
#navigation a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 550;
}

#navigation #logo
{
    width: 3%;
    margin-left: 12%;
}

#navigation #logo img
{
    width: 100%;
}

#navigation #store
{
    margin-top: auto;
    margin-bottom: auto;
}

#navigation #daily
{
    margin-top: auto;
    margin-bottom: auto;
}

#navigation #game
{
    margin-top: auto;
    margin-bottom: auto;
}
#navigation #news
{
    margin-top: auto;
    margin-bottom: auto;
}
#navigation #social
{
    margin-top: auto;
    margin-bottom: auto;

    width: 5%;

    color: white;
    font-size: 18px;
    font-weight: 550;

    cursor: pointer;

    display: flex;
    gap: 3%;

    overflow-y: hidden;
}

#navigation #social #arrow
{
    font-family: sans-serif;
    transform: rotate(90deg);
    transition: 0.5s;
    color: lightgrey;
    font-weight: 100;
}

#socialDrop
{
    display: none;
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1;
}

#socialDrop #discord
{
    margin-left: 11.6%;
}

#socialDrop button
{
    font-size: 20px;
    border: none;
    padding-right: 180px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#socialDrop button:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

#connect
{
    position: absolute;
    background-color: #FFC200;
    width: 100%;
    display: flex;
    gap: 1vh;

    justify-content: center;
    height: 70px;
}

#connect p
{
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#connect button
{
    font-size: 22px;
    padding: 5px 30px;
    background-color: transparent;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#backBlur
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

#qrcode
{
    display: none;
    position: absolute;
    overflow-y: hidden;
}

#qrcode button
{
    font-size: 20px;
    margin-left: 98vw;
    margin-top: 2vh;
    background-color: transparent;
    color: white;
    border: none;
    
    
}

#qrcode #center
{
    margin: auto;
    margin-top: 15vh;
    background-color: #107CB2;
    width: 35%;
    height: 70vh;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

#qrcode #pic
{
    background-image: url(https://i.imgur.com/M5xvPwn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 37vh;
}

#qrcode #code
{
    margin-top: 2vh;
    width: 100%;
    height: 25vh;
}

#qrcode #qrpic
{
    margin: auto;
    margin-top: 2vh;
    background-image: url(https://i.imgur.com/BkUUO5x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 20vh;
}

/* body:has(#navigation #social:hover) #navigation #store
{
    background-color: aquamarine;
} */

/* END OF NAVIGATION ----------------------------------------------------------------*/
#footer {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 6%;
    margin-top: 3.6%;
    color: #fff;
    padding-bottom: 3%;
   
}

#footerd1 {
    float: left;
    width: 15%;
    height: 100%;
}

#footerd2 {
    float: left;
    width: 60%;
    height: 70%;
    padding-top: 3%;

}

#footerd3 {
    float: left;
    width: 20%;
    height: 100%;
    
}

#footerd1 img {
    padding-top: 55px;
    padding-left: 140px;
}

#linker {
    color: #fff;
    padding-right: 20px;
    padding-top: 40px;
}

#footer p {
    font-size: 14px;
}

#languageSelect {
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    margin-top: 55px;
    margin-left: 50px;
}

#Share {
    float: left;
}

#Share{
    float: right;
    background-image: url(https://i.imgur.com/a19axGV.png);
    background-size: 100% 100%;
    width: 90px;
    height: 80px;
    margin-top: 55px;
    margin-right: 55px;
}