
body{
    background-image:url(https://i.imgur.com/pfsdUbR.png) ;
    background-size: cover;
    font-family: sans-serif;
    color: white;
    
}
*
{
    font-family: sans-serif;
    margin: 0%; 
    overflow-x: hidden;
}

#navigation
{
    display: flex;
    gap: 1%;
    background-color: #073D4F;
    padding: 18px;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #747482;
    box-shadow: 0px 0px 15px 0px black;
}
    
#navigation a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 550;
}

#navigation #logo
{
    width: 3%;
    margin-left: 12%;
}

#navigation #logo img
{
    width: 100%;
}

#navigation #store
{
    margin-top: auto;
    margin-bottom: auto;
}

#navigation #daily
{
    margin-top: auto;
    margin-bottom: auto;
}

#navigation #game
{
    margin-top: auto;
    margin-bottom: auto;
}
#navigation #news
{
    margin-top: auto;
    margin-bottom: auto;
}
#navigation #social
{
    margin-top: auto;
    margin-bottom: auto;

    width: 5%;

    color: white;
    font-size: 18px;
    font-weight: 550;

    cursor: pointer;

    display: flex;
    gap: 3%;

    overflow-y: hidden;
}

#navigation #social #arrow
{
    font-family: sans-serif;
    transform: rotate(90deg);
    transition: 0.5s;
    color: lightgrey;
    font-weight: 100;
}
#news1{
    width: 88%;
    margin: auto; 
    box-sizing: border-box;
    
}
#txtnews{
    font-size: 50px;
    margin: 10% 0px 5% 0px;
}

#newsdesign1{
    width: 20%;
    margin: 0px 20px 0px 0px;
    box-sizing: border-box;
    line-height: 0px;   
}

#newsdesign1:hover{
    transition: 0.5s;
    transform: translateY(-5%);
    z-index: 1;
}
#newsdesign{
    width: 20%;
    margin: 70px 20px 0px 0px;
    box-sizing: border-box;
    line-height: 0px; 
    z-index: 1;  
}

#newsdesign:hover{
    transition: 0.5s;
    transform: translateY(-5%);
    z-index: 1;
}
#newsdestxt{
    line-height: normal;
}

#newsimg{
    width: 100%;
    height: 140px;
    border-radius: 10px;
}

#news1n5{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news6n10{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news11n15{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    
}
#news16n20{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news21n25{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news21n25{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news26n30{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news31n35{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news1 h6{
    line-height: 30px;
}
#news36n40{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
#news40n43{
    padding: 2% 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

#newsdesign2{
    width: 18.5%;
    margin: 70px 1.2% 10% 0px;
    box-sizing: border-box;
    line-height: 0px;   
}
#newsdesign2:hover{
    transition: 0.5s;
    transform: translateY(-5%);
    z-index: 1;
    
}
