body{
    background-color: #073D4F;
    background-size: cover;
    font-family: sans-serif;
    color: white;

}


#mother{
    width: 85%;
    margin: auto;
}
#dino1{
    width: 100%;
    margin: auto;
    box-sizing: border-box;

}

#dinoimg{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    max-width: 100%;
}

#text1{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    color: gainsboro;
}